APPLICATION_NAME=Demo Website
TEST_ENVIRONMENT=Production

BASE_URL=https://baseurl.com
API_BASE_URL=https://dev.example.com/api

USERNAME=user
PASSWORD=password

BROWSER=Chromium

AUTH_STATE_PATH=auth

WORKERS=1
RETRIES=0
HEADLESS=true

DEFAULT_TIMEOUT=120000

TESTER=SQA Engineer